@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    padding: 0;
    margin: 0;
    font-family: kanit;
    background-color: black;

}


.navbar{

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-div{
    padding: 0.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;

    a{
        text-decoration: none;
        color: black;
    }
}

.icon-text{
    font-size: 1.5rem;
    color: black;
}

.nav-pages{
    display: flex;
    justify-content: space-between;
    align-items: center;


    a{

        margin: 14px;
    }
}


.first{

    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #f2d8fa;

    display: flex;
    justify-content: center;
    align-items: center;
}

.first-img{

    
}



footer{

    background-color: #111122;
    padding: 2rem;
    color: white;
}


.fd1{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* position: relative;
    right: 47px; */
    padding-bottom: 1rem;

    h2{

        margin-left: 2.35rem;
    }
}

.quick_links > ul  > li{

    margin: 7px;
}

ul{

    list-style: none;
}

.follow-us{

    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
    
    span{

        margin: 1.5rem;
        font-size: 1.5rem;

    }
}

.fd2{

    border-top: 0.1px solid rgb(70, 70, 70);


    .copy{

        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }
}